body {
    background-color: white;
    font-size: 0.934rem;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'robotoregular';
    font-weight: 300;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.container{
    margin: 0 auto;
}

.header{
    background: url("../img/banner.png");
    width: 100%;
    height: 832px;
}

.top-header{
    margin-left: 5%;
}

.MoGo-size{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo{
    display: inline;
    margin: 2%;
}
.menu{
    display: block;
}

ul.topnav{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: -4%
}

ul.topnav li{
    float: right;
}

ul.topnav li a{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-family: Montserrat;
}
ul.topnav li a:hover{
    background-color: #f5c239;
}
ul.topnav li.iconM{
    display: none;
}

.title_first{
    color: #fefefe;
    font-size: 71px;
    display: inline-block;
    margin-top: 7%;
    font-family: "Kaushan Script";
    margin-left: 30%;
}

.subtitle{
    text-align: center;
    width: 802px;
    height: 248px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    margin-top: 3%;
    margin-left: 16%;
}

.lineOne {
    margin-top: 4%;
    margin-left: 45%;
}

.btn {
    display: inline-block;
    min-width: 160px;
    height: 25px;
    text-align: center;
    letter-spacing: 1px;
    margin: 38%;
    font-size: 20px;
    border-radius: 0px;
    margin-top: 20px;
    border: 1px solid #fff;
}

.btn:hover {
    background-color:#f5c239;
    color: #fff;
    text-decoration: none;
    border: 1px solid #f5c239;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transition: .5s;
    padding: 6px 30px;
}

/*Media Queries*/
@media screen and (max-width: 1055px){
    .subtitle{
        font-size: 125px;
    }
}
@media screen and (max-width: 960px) {
    .subtitle {
        font-size: 80px;
        margin-left: -5%;
        line-height: 101px;
    }

    .title_first {
        margin-left: 19%;
        font-size: 56px;
    }

    .lineOne {
        margin-left: 48%;
        margin-top: 2%;
    }
    .btn {
        min-width: 140px;
    }
    .menu {
        margin-top: -8%;
    }
}
@media screen and (max-width: 840px) {
    ul.topnav li:not(:first-child){display: none;}
    ul.topnav li.iconM{
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width: 840px) {
    ul.topnav.responsive{
        position: relative;
        background-color: #f5d380;

    }
    ul.topnav.responsive li.iconM{
        position: absolute;
        right: 0;
        top: 0;

    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 690px) {
    .title_first {
        font-size: 52px;
    }

    .subtitle {
        font-size: 40px;
        margin-left: -19%;
        line-height: 101px;
    }
    .btn {
        margin-left: 34%;
    }
}
