@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    transition: all 0.5s ease;
}

.service-sect {
    width: 80%;
    margin: 5em auto;
    text-align: center;

}


.what-we-do {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin: 23px 0;
}


.service {
    margin-top: 5%;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}

.service-sect>p {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 47px;
}

.line {
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 0 auto;
}

.photo-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.worker {
    width: 570px;
    height: 380px;
    margin-right: 2%;
}

.creative {
    width: 600px;
    height: 380px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.png-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e5e5e5;
    width: 600px;
    height: auto;
    padding: 25px;
    margin: 1%;


}

.png-item>div {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px bold;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 3%;

}


.text>p {

    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.text {

    border: 1px solid #e5e5e5;
    width: 626px;
    height: auto;
    padding: 2%;
    margin: 1%;
}


.speech {
    display: flex;
    justify-content: center;
    align-items: center;



    background-color: #f8f8f8;
    width: 100%;
    height: 15em;
    margin: 5em auto;

}

.comment {
    margin-left: 4em;
}

.comment>p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.comment-line {
    background-color: #f38181;
    width: 60px;
    height: 3px;

}

.comment-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-name>div {
    margin-top: 4%;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;


}

.img-list {
    display: flex;
    justify-content: space-around;
}

.img-list>div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.worker-name {
    margin-top: 2em;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}


.worker-job {
    margin-top: 1 em;

    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.logos {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #f8f8f8;
}


/* MAP */
.google-map {
    width: 100%;
    max-height: 440px;
    margin: 3% 0 10% 0;
    position: relative
}

.conteiner-map {
    width: 100%;
    height: 440px;
    background: rgba(221, 206, 156, 0.93);
    z-index: 2;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.is-active {
    height: 40px;
}


iframe {
    width: 100%;
    height: 440px;
}


.map-section .social-item-with-border {
    margin: 0;
    background-color: #fff;
    color: #000;
    border: none;
}


.social-item-with-border {
    display: none;
    margin: 0 10px;
    /* border: 1px solid black; */
    width: 25px;
    height: 25px;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.social-item-with-border i {
    line-height: 25px;
    transform: rotate(-45deg);
    color: black;
}



.map-section .white-title {
    padding-top: 15px;
}

.white-title {
    color: rgb(25, 36, 59);
    font-family: 'Kaushan Script',
        sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.icon-and-text {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;


}

/* /MAP */

/* 3_D */
.section-3d {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.t3d {
    
    perspective: 1000px;
}

.t3d:hover .rotate {
    transform: rotateY(180deg);
}

.rotate {
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    width: 380px;
    height: 470px;
}

.img-3d {
    vertical-align: middle; 
}

.img-3d,
.text {
    background: rgb(209, 182, 123);
    backface-visibility: hidden;
}

.worker-name,
.worker-job {
    text-align: center;
}

.worker-h3 {
    margin: 1%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';
    color: rgb(31, 60, 65);

}


.worker-text {
    margin: 1%;
    text-align: center;
    font-size: 16px;
    font-family: 'Kaushan Script';
}
/* /3_D */